<h1>Request password reset</h1>
<form method='post' action='/account/resetpassword'>
    <label for='email'>Email</label>
    <input type='text' id='email' name='email'/>        
    <input type="submit" name='action' value="Request" />
</form>