<h1>Change password for @Model.Email</h1>
<form method='post' action='/account/resetpassword/confirm/@Model.PasswordResetToken'>
    <label for='password'>Password</label>
    <input type='text' id='password' name='password'/>
    <input type="submit" name='action' value="Change" />
</form>