<form method='post' action='/kb/search'>
    <label for='search'>Search for</label>
    <input type='text' id='search' value='' name='term'/>
    <input type="submit" name='action' value="Search" />
</form>