<h1>Welcome</h1>
<a href="/kb/">Forums</a>
<a href="/requests/new">Make new request</a>
<a href="/requests">Check my tickets</a>

<label for="taskname">Taskname</label>
<input type="text" name="taskname" />